In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Load the data

In [4]:
df = pd.read_csv("data/Advertising.csv")

In [5]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

## 2. Create a matrix for features (X)

In [7]:
X = df.drop("sales", axis=1)

In [8]:
# matrix
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

## 3. Create an array for the labels (y)

In [9]:
y = df["sales"]

In [10]:
# labels
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

## 4. Make a train and test split
Here, 20% of the data will be used for testing the model.

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 5. Define a linear regression model

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

## 6. Fit the model to the training set

In [16]:
model.fit(X_train, y_train)

LinearRegression()

## 7. Use the trained model to make predictions

In [18]:
y_predictions = model.predict(X_test)

## 8. Calculate the error metrics

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

##### Mean absolute error

In [22]:
MAE = mean_absolute_error(y_test, y_predictions)
MAE

1.4607567168117601

##### Mean squared error

In [25]:
MSE = mean_squared_error(y_test, y_predictions)
MSE

3.174097353976104

##### Root mean squared error

In [29]:
RMSE = MSE**0.5
RMSE

1.7815996615334502